<div class="well well-sm">
    <div class="form-group">
        <%= form_tag search_path, method: :get do %>
            <%= text_field_tag(:q, params[:q], {class: "form-control", placeholder: "Pesquisar contato..."}) %>
            <%#= submit_tag("Pesquisar", class: "btn btn-success btn-sm") %>
        <% end %>
    </div>
</div>
